.div {
    display: flex;
    justify-content: center;         
}
.article {
    height: 600px;
    width: 200px;
    background-color: aqua; 
    background-image:url(image/martin-w-kirst-Ap3fFS0iOiE-unsplash.jpg);
    background-size: contain;
}
 
.card1{
    height: 150px;
    width: 50px;
    background-color: blueviolet; 
}

.card2{
    height: 150px;
    width: 50px;
    background-color: blueviolet; 
}
.p{
    height: 200px;
    width: 200px;   
}
/* .slideshow {
    position: relative;
    overflow: hidden;
  }
  .images {
    background: url(image/gerome-bruneau-RPmWEtZLh7U-unsplash.jpg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 10s linear infinite;
  }
  @keyframes slideshow {
    0%    { left: 0; }
    100%  { left: -200%; }
  } */